.heading
{
    background-color: rgb(43, 43, 238); 
    font-stretch: expanded;
    font-style: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.button
{
    background-color: aqua;
    background-position: center;
    font-style: white;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-block-end: 0%;
    padding-block-start: 0%;
}
.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;